.foot{
	width: 100%;
	/*background: #5B9BD5;*/
	height: 10px;

}
.foot_info{
}
.foot_info ul{
	height: 100px;
		background-image:url(../images/foot.png);
		background-repeat: repeat-x;

}
.foot_info ul li{
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 15px;
}